*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
html{
    font-family: "Open Sans",sans-serif;
}
#navbar{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

#navbar ul li a {
    padding: 0.75rem;
}

#navbar ul li a:hover{
    background: #336ea2;
    border-radius: 4px;
}

#home,
#home-2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2rem;
border-bottom: 1px solid grey;
}

#home img, 
#home-2 img {
    border: 1px solid grey;
    background-color: #336ea2;
    width: 300px;
    height: auto;
    border-radius: 100%;
}

#home .name h2, 
#home-2 .name h3 {
    margin-bottom: 0.75rem;
}

#home .name p, 
#home-2 .name p {
    opacity: 0.6;
    font-style: italic;
}

#home-2 .name h3 {
    margin-bottom: 0.75rem;
}

/* About */

#about{
    color: #fff;
    padding: 1rem;
}
#about .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about .items .item {
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
#about .items .item:hover{
    color: #336ea2;
    opacity: 0.3;
}

/* Products */

#products {
    color: #333;
    padding: 1rem;
}

.products .product .product-image img{
    width: 300px;
    height: 300px;
    border: 1px solid #336ea2;
    border-radius: 100%;
}
.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem;   
}

.products .product {
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.products .product .product-image {
   /* margin-bottom: 0.5rem;
   padding: 0.5rem; */
   position: relative;
}

.products .product .product-image .product-info{
    letter-spacing: 1.2px;
    padding: 0.5rem;
    font-weight: 700;
}

.btn-block {
width: 100%;
}

/* contact */
#contact{
    color: white;
    padding: 1rem;
}

#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#contact .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
}
#contact .contact-form ul li a{
    padding: 1rem;
    font-size: 2rem;
}
#contact .contact-form ul li a:hover{
    opacity: 0.8;
}